
.modal-right-enter {
  transform: translateX(100%);
}

.modal-right-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}

.modal-right-exit {
  transform: translateX(0);
}

.modal-right-exit-active {
  transform: translateX(100%);
  transition: transform 300ms;
}
